.Main
  .MainHeader
    .MainHeader__group
      .MainHeader__groupName
        tech
      %ul.MainHeader__memberList
        Member :
        %li.MainHeader__member
          takaoka
        %li.MainHeader__member
          takaoka
          
      
    = link_to "#" ,class: "MainHeader__editButton" do
      Edit
  .MessageField
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          ami
        .MessageInfo__date
          2020年12月17日 21時06分
      .Message
        %p.Message__content
          こんにちは
  .Footer
    %form.Form
      .Form__contents
        %input.Form__inputContent{type: 'text', placeholder: 'type a message'}
        %label.Form__inputImage
          = icon('far', 'image', class: 'Form__icon')
          %input.Hidden{type: 'file'}
      %input.Form__submit{type: 'submit', value: 'Send'}