.Sidebar
  .SideHeader
    .SideHeader__list
      %h3.SideHeader__userName
        masa
      %ul.SideHeader__iconList
        %li.SideHeader__Icon
          = link_to "#" do
            = icon("fas", "edit")
        %li.SideHeader__Icon
          = link_to "#" do
            = icon("fas", "cog")
  .GroupList
    .Group
      .Group__name
        tech
      .Group__message
        おはよう
    .Group
      .Group__name
        tech
      .Group__message
        おはよう
    .Group
      .Group__name
        tech
      .Group__message
        おはよう